* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 90%;
  margin: auto;
}

.scontainer {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

/*------- Navbar section -----*/
.nav {
  height: 10vh;
  line-height: 10vh;
  background: white;
  text-align: center;
}

.logo img {
  margin-top: 20px;
}

.nav ul {
  width: 100%;
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

.nav .main_list ul li a:hover {
  color: #37B234;
}

.media_button i {
  font-size: 20px;
  display: none;
}

.account i {
  color: #37B234;
  margin: 30px 20px 0;
}

/* Medai qurey section */
@media only screen and (max-width:768px) {
  .main_list {
    overflow: hidden;
    height: 0px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 10%;
    padding: 0 0 0 40px;
    transition: 0.5s;
  }

  .nav .show_list {
    height: 250px;
    background: white;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav ul li a {
    line-height: 40px;
    display: table;
  }

  .media_button i {
    display: block;
    margin-top: 20px;
    background: #37B234;
    padding: 10px;
    color: white;
    cursor: pointer;
  }

  .account {
    display: none;
  }
}

/*--------- Home section ----- */
/*--------- Home section ----- */
.left {
  width: 35%;
}

.right {
  width: 65%;
  overflow-x: hidden;
}

button {
  padding: 15px 50px;
  margin: 20px 20px 0 0;
  border-radius: 50px;
  border: none;
  background: #37B234;
  color: white;
}

.btn1 {
  border: 2px solid white;
}

.btn2 {
  background: white;
  color: black;
}

.home {
  position: relative;
  color: white;
}

.home .left {
  padding: 150px 0 0 65px;
  margin-top: 50px;
}

.home .right {
  margin-top: 100px;
  overflow-x: hidden;
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  background-image: url("../image/slide.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
  z-index: -1;
}

.time_box {
  margin: 0 50px 0 0;
}

.time_box {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}

.time_box h1 {
  font-size: 50px;
  margin-left: 10px;
}

.time_box span {
  font-size: 14px;
  margin-left: 15px;
}

.home h2 {
  font-size: 50px;
  margin: 20px 0 20px 0;
}

/*--------latest -------------*/
.top {
  margin-top: 100px;
}

.mtop {
  margin-top: 50px;
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 150px;
}

.heading h1 {
  font-size: 40px;
  font-weight: 400;
}

.heading button {
  padding: 15px 80px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 42%;
  font-size: 15px;
}

.heading .lines {
  position: relative;
  width: 100%;
}

.heading .line {
  border: 1px solid #E3E3E3;
  width: 45%;
  height: 3px;
  border-left: none;
  position: absolute;
  left: 0;
  top: 43px;
  z-index: 1;
}

.heading .line i {
  position: absolute;
  right: -1px;
  top: -7px;
  color: white;
}

.heading .line2 {
  right: 0;
  left: 59%;
  border-right: none;
}

.heading .line2 i {
  left: -100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.latest .scontainer {
  padding: 50px;
  text-align: center;
}

.latest .box {
  background: #F9F9F9;
  padding: 30px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  transition: 0.5s;
}

.latest .box:hover {
  border: 1px solid #37B234;
  cursor: pointer;
}

.latest .img {
  position: relative;
}

.latest .img .flex1 {
  width: 100%;
  position: absolute;
  top: 0;
}

.latest .img label {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #37B234;
  color: white;
  text-align: center;
}

.latest .img i {
  color: #37B234;
  font-size: 20px;
  line-height: 50px;
  position: absolute;
  right: 0;
}

.latest .detalis h3 {
  margin: 20px 0 10px 0;
  font-weight: 400;
}

.latest .detalis h2 {
  font-weight: 400;
  color: #37B234;
  margin: 20px 0 20px 0;
}

.latest .detalis h2 span {
  text-decoration: line-through;
  font-size: 14px;
  color: grey;
}

.latest button {
  margin: 0;
  margin-top: 20px;
}

/*--------latest -------------*/
/*--------slider -------------*/
ul {
  list-style: none;
}

.slider {
  background: #37B234;
  padding: 80px 0 0px 0;
  color: white;
}

.slider p {
  font-size: 20px;
}

.slider h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

.slider ul li {
  font-size: 22px;
  opacity: 0.8;
  margin-top: 15px;
  word-spacing: 5px;
}

.slider h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 40px 0 30px 0;
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  position: absolute;
  top: 35%;
  cursor: pointer;
  font-size: 50px;
}

.owl-nav .owl-prev i {
  left: -33px;
}

.owl-nav .owl-next i {
  right: -33px;
}

.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
  color: #71ec6e;
}

/*--------slider -------------*/
/*--------Popular -------------*/
.Popular {
  color: black;
}

.Popular.latest {
  background: none;
}

.Popular .heading {
  color: black;
}

.Popular .content {}

/*--------Popular -------------*/
/*--------wrapper -------------*/
.wrapper {
  background-image: url("../image/back.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(55, 179, 52, 0.83);
}

.wrapper .scontainer {
  position: relative;
  z-index: 1;
}

.wrapper .text {
  padding: 100px 50px;
  color: white;
}

.wrapper p {
  font-size: 20px;
}

.wrapper h1 {
  font-size: 40px;
  margin: 20px 0 20px 0;
  font-weight: 400;
}

.wrapper h3 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}

/*--------wrapper -------------*/
/*--------Assesories -------------*/
.Assesories {
  margin-top: 25%;
}

/*--------Assesories -------------*/
/*--------shipping -------------*/
.shipping {
  padding: 50px;
  background: #37B234;
  color: white;
}

.shipping .img {
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  padding: 30px;
}

.shipping i {
  font-size: 20px;
}

.shipping h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.shipping p {
  opacity: 0.8;
  line-height: 20px;
}

/*--------shipping -------------*/
/*--------footer -------------*/
footer {
  background: black;
}

footer .scontainer {
  padding: 70px 50px;
  color: white;
}

footer h3 {
  margin: 30px 0 20px 0;
}

footer h1 {
  color: white;
  margin: 15px 0 10px 0;
}

footer p,
footer li {
  margin: 15px 0 10px 0;
  color: grey;
}

footer input {
  padding: 10px;
  border: none;
  background: none;
}

footer .input {
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

footer .input i {
  margin: 15px;
}

footer .social_meadia i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid grey;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
  color: grey;
}

/*--------footer -------------*/
@media only screen and (max-width:768px) {

  /*--------home --------*/
  .home .content {
    flex-direction: column;
  }

  .right,
  .left {
    width: 100%;
  }

  .home .left {
    padding: 50px 100px 50px 50px;
  }

  .home::after {
    background-size: cover;
    height: 70vh;
  }

  .ani_image img {
    width: 100%;
    height: 100%;
  }

  /*--------home --------*/
  /*--------latest -------------*/
  .heading button {
    left: 30%;
  }

  .heading .line {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest .scontainer {
    padding: 0px;
  }

  .latest .box {
    padding: 10px;
  }

  /*--------latest -------------*/
  /*--------slider -------------*/
  .slider .item {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  /*--------slider -------------*/
  .shipping .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width:511px) {
  .home::after {
    height: 100vh;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading h1 {
    font-size: 35px;
  }

  .heading button {
    left: 20%;
  }

  footer .scontainer,
  .latest .scontainer {
    padding: 0px;
  }

  .shipping {
    padding: 50px 0 50px 0;
  }
}