@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Poppins', sans-serif;
}

/*---------global------*/
.container {
  max-width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

i {
  cursor: pointer;
  transition: 0.5s;
}

/*---------global------*/
/*---------header------*/
img {
  width: 100%;
  height: 100%;
}

header {
  height: 10vh;
}

.logo {
  margin-top: 15px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-size: 50px;
  margin-top: -10px;
  font-weight: 600;
}

header .navbar {
  align-items: center;
  transition: 0.5s;
}

header nav ul {
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  margin-right: 30px;
}

header ul li a {
  color: #000;
  transition: 0.5s;
  font-weight: 500;
}

header ul li a:hover {
  color: #FF7A00;
}

header nav ul li {
  margin-right: 20px;
  display: inline-block;
}

header .navbar span {
  text-align: center;
  margin-left: 20px;
  color: black;
  font-size: 25px;
  display: none;
  margin: 30px;
}

.account i {
  font-size: 20px;
  margin-right: 20px;
}

header.sticky {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  transition: 0.5s;
  height: 10vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

@media only screen and (max-width:768px) {
  header nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;
  }

  header nav ul li {
    display: block;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header .navbar span {
    color: black;
    display: block;
    cursor: pointer;
  }
}

/*---------home_content------*/
/*---------home------*/
.left, .right {
  width: 50%;
}

.box_left {
  width: 70%;
  position: relative;
  margin: 10px 30px 0 0;
  height: 90vh;
}

.box_right {
  width: 30%;
  height: 90vh;
}

.home .box_right .img {
  height: 45vh;
}

.home {
  height: 80vh;
}

.home .box_left img {
  position: absolute;
  top: 0;
  left: 0;
}

.home .left {
  position: relative;
  z-index: 1;
  padding: 30% 0 0 10%;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 4px;
  color: #5E5E5E;
  margin-bottom: 20px;
}

.home h1 {
  font-size: 50px;
  font-weight: 300;
}

.home span {
  color: #5E5E5E;
  font-size: 18px;
}

.home .box_right img {
  padding: 10px 0 0 0;
}

.home .box_right .img:nth-child(2) {
  margin-top: 10px;
}

button {
  border: 2px solid black;
  color: black;
  padding: 15px 30px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
  transition: 0.5s;
}

button:hover {
  border: 2px solid #FF7A00;
  background: #FF7A00;
  color: white;
  cursor: pointer;
}

/*---------home------*/
/*---------offer------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.offer .left {
  margin: 0 15px 0 0;
}

.offer .right {
  margin: 0 0 0 15px;
}

.offer .left,
.offer .right {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.offer .text,
.offer .text {
  position: absolute;
  top: 40%;
  left: 20%;
  padding: 50px;
}

.offer h1 {
  font-weight: 500;
  font-size: 30px;
}

.offer h5 {
  margin-top: 20px;
}

.offer a {
  color: black;
  border-bottom: 2px solid black;
}

/*---------offer------*/
/*---------product------*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.product {
  text-align: center;
}

.product h2 {
  font-size: 40px;
  font-weight: 400;
}

.product .box {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 20%;
  left: 15%;
  opacity: 0;
  transition: 0.5s;
}

.overlay i {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: 10px;
}

.product h4 {
  font-weight: 400;
  margin-top: 10px;
}

.product h4:nth-child(2) {
  color: #FF7A00;
  font-weight: bold;
}

.product h4 span {
  color: black;
  text-decoration: line-through;
  margin-right: 20px;
  color: #5E5E5E;
}

.product .box:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.product i:hover {
  background: #FF7A00;
  color: white;
}

/*---------product------*/
/*---------sale------*/
.sale img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.sale .left {
  width: 500px;
  height: 500px;
  margin: 20px;
}

.sale .right {
  position: relative;
}

.sale .text {
  position: absolute;
  top: 30%;
  left: -20%;
  transform: rotate(-90deg);
}

.sale .text h2 {
  font-size: 50px;
  word-spacing: 4px;
  font-weight: 500;
  color: #5E5E5E;
}

.sale .para {
  position: absolute;
  top: 30%;
  left: 15%;
  right: 15%;
  text-align: center;
  padding: 50px;
  background: rgba(255, 255, 255, 0.5);
}

.sale h1 {
  font-size: 40px;
  font-weight: 400;
}

.sale a {
  color: black;
  border-bottom: 2px solid black;
}

.sale .img {
  overflow: hidden;
}

.sale img:hover {
  transform: scale(1.1);
}

/*---------sale------*/
/*---------blog------*/
.blog .grid {
  grid-template-columns: repeat(3, 1fr);
}

.blog h1 {
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: 500;
}

.blog .date {
  background: #F2F2F2;
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 30px;
}

.blog h4 {
  font-weight: 400;
}

.blog hr {
  border: 1px solid #5E5E5E;
  background: #5E5E5E;
}

.blog .para {
  margin-left: 20px;
}

.blog h3 {
  font-weight: 500;
}

.blog p {
  color: #5E5E5E;
  font-size: 15px;
  margin-top: 10px;
}

.blog .text {
  margin-top: 10px;
}

/*---------blog------*/
/*---------footer------*/
footer {
  text-align: center;
  background: #F2F2F2;
}

footer .container {
  padding: 30px 0 60px 0;
}

footer ul {
  display: inline-block;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 500;
  transition: 0.5s;
}

footer ul i:hover,
footer ul li:hover {
  color: #FF7A00;
  cursor: pointer;
}

footer span {
  font-size: 13px;
}

footer i {
  font-size: 18px;
}

footer .text {
  margin: 70px 0 70px 0;
}

footer h3 {
  font-weight: 500;
  letter-spacing: 3px;
}

footer .input {
  border-bottom: 2px solid black;
  width: 50%;
  margin: auto;
}

footer input {
  background: none;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

footer label {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 15px;
}

.legal {
  padding: 20px;
  font-size: 13px;
}

/*---------footer------*/
@media only screen and (max-width:768px) {

  .home,
  .home .box_right .img,
  .box_left,
  .box_right {
    height: auto;
  }

  /*---------offer------*/
  .offer .left,
  .offer .right {
    margin-top: 0px;
  }

  .offer .text,
  .offer .text {
    top: 0%;
    left: 00%;
  }

  /*---------offer------*/
  /*---------product------*/
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /*---------sale------*/
  .sale .container {
    flex-direction: column;
  }

  .sale img {
    width: auto;
    height: auto;
  }

  .sale .right,
  .sale .left {
    width: 100%;
  }

  .sale .right {
    margin-top: 20%;
  }

  .sale .text {
    left: -10%;
  }

  /*---------sale------*/
  /*---------blog------*/
  .blog .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:511px) {
  .account {
    display: none;
  }

  header nav ul {
    position: absolute;
    top: 40px;
  }

  .home .container,
  .offer .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .home img {
    width: 100% !important;
    height: 100% !important;
  }

  .grid,
  .blog .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /*---------home------*/
  .left, .right {
    width: 100%;
  }

  .home .box_right .img,
  .box_right,
  .box_left {
    width: 100%;
  }

  /*---------home------*/
  .sale .left,
  .offer .right,
  .offer .left {
    margin: 0;
    margin-bottom: 20px;
  }

  .sale .left {
    margin-bottom: 50px;
  }

  footer .head {
    flex-direction: column;
  }

  footer .input {
    width: 100%;
  }
}