* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.container {
  position: relative;
  width: 1300px;
  height: 600px;
  margin: 50px auto 0;
}

.container .box {
  position: relative;
  width: 400px;
  height: 300px;
  background: #d2d2d2;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.container .box:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
}

.container .box:hover:before {
  transform: scaleX(1);
  opacity: 1;
}

.container .box:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
}

.container .box:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.container .box .imgBox {
  position: relative;
}

.container .box .imgBox img {
  width: 100%;
  transition: 0.5s;
}

.container .box:hover .imgBox img {
  opacity: 0.1;
  transform: scale(1.2);
}

.container .box .content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.container .box .content h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}

.container .box .content p {
  margin: 0;
  padding: 0;
  color: #fff;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.container .box:hover .content h2,
.container .box:hover .content P {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}