@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  transition: 0.5;
}

/*----------head--------*/
.flex1 {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

h1 {
  font-style: italic;
  color: #323757;
  font-size: 35px;
  font-weight: 600;
}

button {
  background: #323757;
  border: none;
  color: white;
  padding: 15px 40px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  border-radius: 0% 30px 0% 30px;
  background: #dc2727;
}

.head {
  margin-top: 20px;
}

.head .icon {
  line-height: 40px;
}

.head .icon label {
  margin-right: 30px;
}

.head .icon i {
  margin-left: 10px;
  background: #dc2727;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/*----------head--------*/
/*----------navbar--------*/
.navbar {
  background: #dc2727;
  color: white;
}

.navbar .content {
  display: flex;
  align-items: center;
  height: 10vh;
}

.navbar a {
  color: white;
  transition: ease-in-out all 0.5s;
}

.navbar a:hover {
  color: #323757;
}

.navbar nav {
  flex: 1;
  text-align: left;
}

.navbar nav ul {
  display: inline-block;
  list-style-type: none;
}

.navbar nav ul li {
  display: inline-block;
  transition: 0.5s;
  margin-right: 30px;
}

.navbar nav ul li.active {
  padding: 5px 10px;
}

.navbar nav i {
  transition: 0.5s;
  cursor: pointer;
}

.navbar span {
  text-align: center;
  margin-left: 20px;
  color: white;
  font-size: 25px;
  display: none;
}

.navbar i {
  margin-left: 10px;
}

.navbar label {
  margin-right: 40px;
}

@media only screen and (max-width:768px) {
  .navbar nav ul {
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    background-color: #dc2727;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
  }

  .navbar nav ul li {
    display: block;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar nav ul li a {
    color: white;
  }

  .navbar span {
    color: white;
    display: block;
    cursor: pointer;
    border: 2px solid white;
    padding: 5px;
  }

  .navbar .account {
    display: none;
  }
}

/*----------navbar--------*/
/*----------home--------*/
.right,
.left {
  width: 50%;
}

.wrapper {
  max-width: 80%;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}

.home {
  margin-top: 10%;
}

.home .left {
  margin-top: 100px;
}

.home h1 {
  font-style: normal;
  font-size: 60px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*----------home--------*/
/*----------about--------*/
h2 {
  font-size: 40px;
  font-weight: 700;
  color: #323757;
}

.about {
  margin-top: 10%;
}

.about .left {
  margin-top: 10%;
  padding: 30px;
}

.about .right {
  position: relative;
}

.about .right::after {
  position: absolute;
  content: '';
  background-image: url("../image/a.jpeg");
  background-size: cover;
  width: 750px;
  height: 100%;
}

/*----------about--------*/
/*----------service--------*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.service {
  margin-top: 10%;
  text-align: center;
}

.service .items {
  margin-top: 50px;
  padding: 30px;
}

.service .text {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.05);
  padding: 50px;
  border-radius: 10px;
  transition: 0.5s;
}

.service .text:hover {
  background: #dc2727;
  color: white;
}

.service img {
  height: 80px;
  width: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.service button {
  margin-top: 30px;
}

/*----------service--------*/
/*----------our_service--------*/
.our_service {
  text-align: center;
  margin-top: 50px;
}

.our_service .items {
  text-align: left;
  margin-top: 50px;
}

.our_service .items .box {
  padding: 20px;
}

.our_service .img {
  position: relative;
}

.our_service .img::after {
  content: '';
  position: absolute;
  width: 290px;
  height: 240px;
  background: #323757;
  left: 20px;
  margin-top: -7px;
  z-index: -1;
}

.our_service .img::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: #dc2727;
  z-index: -1;
  bottom: -10px;
  left: 30%;
}

.our_service h3 {
  margin-top: 30px;
}

/*----------our_service--------*/
/*----------Newsletter--------*/
.Newsletter {
  background: #323757;
  text-align: center;
  padding: 50px;
  margin-top: 10%;
}

.Newsletter h2 {
  color: white;
}

.Newsletter input {
  padding: 20px;
  width: 100%;
  background: none;
  border: 2px solid white;
  margin-top: 30px;
  margin-bottom: 50px;
  outline: none;
  color: white;
}

::placeholder {
  color: white;
  font-size: 15px;
}

.submit {
  background: #dc2727;
  color: white;
  padding: 15px 20%;
}

/*----------Newsletter--------*/
/*----------team--------*/
.team {
  text-align: center;
  margin-top: 10%;
}

.team .items {
  margin-top: 30px;
}

.team .items img {
  width: 100%;
  height: 70%;
}

.team .items h3 {
  margin-top: 30px;
}

.team .items span {
  font-size: 14px;
  opacity: 0.6;
}

.team .items button {
  margin-top: 30px;
}

/*----------team--------*/
/*----------blog--------*/
.blog .box img {
  border-radius: 20px 0 20px;
}

/*----------blog--------*/
/*----------contact--------*/
.contact {
  text-align: center;
  margin-top: 5%;
}

.contact h2 {
  margin-bottom: 50px;
}

form {
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.05);
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  max-width: 95%;
  margin: auto;
}

form input, textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  outline: none;
  border: 1px solid #323757;
}

form ::placeholder {
  color: black;
}

form .submit {
  background: #323757;
}

/*----------contact--------*/
/*----------footer--------*/
footer {
  margin-top: 5%;
  background: black;
  color: white;
}

footer .grid {
  grid-template-columns: repeat(4, 1fr);
}

footer .box {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer h3 {
  margin-bottom: 30px;
}

footer i {
  width: 30px;
  height: 30px;
  background: white;
  color: black;
  border-radius: 50%;
  text-align: center;
  padding: 7px;
  margin-right: 20px;
}

.legal {
  text-align: center;
}

.legal i {
  color: #dc2727;
}

/*----------footer--------*/
@media only screen and (max-width:768px) {
  .head .icon {
    display: none;
  }

  .left, .right {
    width: 100%;
  }

  .home .flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .about .flex1 {
    flex-direction: column;
  }

  .about .right::after {
    background-size: cover;
    width: 100%;
    height: 300px;
  }

  .service {
    margin-top: 50%;
  }

  .our_service .img::before,
  .our_service .img::after {
    display: none;
  }

  footer .grid,
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .legal {
    font-size: 14px;
  }
}