@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(315deg, #f8f8f8 0%, #d7ddec 74%);
}

.button {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.button span {
  font-size: 30px;
  font-weight: 500;
  line-height: 100px;
  margin-left: 10px;
}

.button:hover {
  width: 300px;
}

.button .icon {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.button .icon i {
  font-size: 40px;
  line-height: 100px;
  transition: all 0.3s ease-in-out;
}

.button:hover i {
  color: white;
}

/**/
.button:nth-child(3) {
  width: 300px;
}

.button:nth-child(3) .icon {
  background: #1da1f2;
}

.button:nth-child(3) .icon {
  color: white;
}

.button:nth-child(1):hover .icon {
  background: #4267b2;
}

.button:nth-child(2):hover .icon {
  background: #e1306c;
}

.button:nth-child(3):hover .icon {
  background: #1da1f2;
}

.button:nth-child(4):hover .icon {
  background: #0e76a8;
}

.button:nth-child(5):hover .icon {
  background: #ff0000;
}

.button:nth-child(6):hover .icon {
  background: #333;
}

.button:nth-child(1) {
  color: #4267b2;
}

.button:nth-child(2) {
  color: #e1306c;
}

.button:nth-child(3) {
  color: #1da1f2;
}

.button:nth-child(4) {
  color: #0e76a8;
}

.button:nth-child(5) {
  color: #ff0000;
}

.button:nth-child(6) {
  color: #333;
}